<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
{% for i in range(0, eps|length) %}
    <!--<a href="{{cdnurl(eps[i].funimation_id,eps[i].quality)}}">{{eps[i].episode_number}}. {{eps[i].title}}</a><br>-->
    <a href="{{url_for('play_episode', n=n, subdub=subdub,
                        episode_number=eps[i].episode_number, quality=eps[i].quality)}}">
        {{eps[i].episode_number}}. {{eps[i].title}}
    </a><br>
{% endfor %}
</body>
</html>
