{% extends "base.html" %}
{% set title = title + " - Episodes" %}
{% block body %}
    <div id="flexwrap">
        {% for i in range(0, eps|length) %}
            <div class="episode">
                <a href="{{url_for('play_episode', n=n, subdub=subdub,
                                    episode_number=eps[i].episode_number, quality=eps[i].quality)}}">
                    <img class="thumbnail" src="{{eps[i].episode_thumbnail}}">
                    <div class="episode_number">Episode {{eps[i].episode_number}}</div>
                    <div class="episode_title">{{eps[i].title}}</div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
