{% extends "base.html" %}
{% set title = "Shows" %}
{% block body %}
    <div id="flexwrap">
        {% for i in range(0, shows|length) %}
            <div class="show">
                <img class="thumbnail" alt="{{ shows[i].title }}" src="{{ shows[i].show_thumbnail }}">
                <div class="title">{{shows[i].title}}</div>
                <div class="subdub">
                    <a href="show/{{ i }}/dub">dub</a> &bull; <a href="show/{{ i }}/sub">sub</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
