{% extends "base.html" %}
{% set title = "Shows" %}
{% block body %}
    <h1>Funimation - Shows</h1>
    <div id="flexwrap">
        {% for i in shows %}
            <div class="show">
                <img class="thumbnail" alt="{{ i.label }}" src="{{ url_for('static',filename='img_cache/'+p(i.icon)) }}">
                <div class="title">{{i.label}}</div>
                <div class="subdub">
                    <a href="show/{{ i.asset_id }}/dub">dub</a> &bull; <a href="show/{{ i.asset_id }}/sub">sub</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
